<div class="main">
  <div class=" w-100 h-100 bg-secondary bg-opacity-75  ">
    <div class="container text-center   h-75 pt-5  ">
      <div class="logo ">
  <img src="../../assets//welcomepage/Group 982.png " class="w-75" alt="">
      </div>
      <div class="filed mt-5 mb-2 w-100 ">
  <a class=" btn btn-dark w-50  m-2 text-capitalize "> login </a>
  <a class=" btn btn-light  w-50 m-2 text-capitalize "> regester </a>
      </div>
      <div class="mt-5 pt-5 w-100 ">
        <a class="text-warning w-50 mt-5  link-warning " href="#"> continue as a gist </a>
      </div>
    </div>

  </div>
</div>
