<div id="main">
  <div class="container w-50 mt-5 ">
    <div class=" w-25">
      <h3 class="fa-brands">
        Welcome back! Glad to see you, Again!
      </h3>
    </div>
    <form action="" method="get">
      .<div class="mb-3 w-75">
        <label for="" class="form-label">Email</label>
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="please enter your email">
        <!-- <small id="emailHelpId" class="forym-text text-muted">email should @ .com</small> -->
      </div>
      <div class="mb-3 w-75 ">
        <label for="" class="form-label">Password</label>
        <input type="password" class="form-control" name="" id="" placeholder="please, enter the password ">
      </div>
    </form>
    <a class="btn btn-secondary w-75" >login </a>
    <div class="mt-5 pt-5">
      <a href="">Don't have an account? <span class="text-dark"> Register Now </span> </a>
    </div>
  </div>
</div>
