<div>
  <div class="container mt-5 w-50">
    <div class=" w-25">
      <h3 class="fa-brands"> Welcome! Glad to see you.</h3>
    </div>
    <form action="" method="get">
      <div class="mb-3">
        <input type="text"
          class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId" placeholder="abc@mail.com">
      </div>
<div class="mb-3">
  <input type="password" class="form-control" name="" id="" placeholder="">
</div>
        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
  </div>
</div>
